html{
	position:relative;
	min-height:100%;
}
body {
  font-family: Courier New;
  text-align: center;
  height: auto;
  background-color:#f2f2f2;
  margin: auto 0;
}
footer{
	padding-bottom:10px;
	height:20px;
	position:absolute;
    bottom:0;
	width:99%;
}
h1{
  margin:auto 0;
  color: white;
  font-size: 60px;
  vertical-align:middle;
}
h2{
	color:white;
	font-style:italic;
	padding-left:10px;
	padding-right:10px;
	margin:20px;
}
h3 {
	color: white;
	margin:0px;
	font-size:28px
}
h4{
	font-weight:bold;
	color:white;
	font-size:23px;
	
}
h6{
	color:#31394d;;
}
h5{
	color:white;
	font-size:29px;
	font-weight:bold;
	margin:10px;
}
p {
  color: white;
}
div{
	padding-left:20px;
	padding-right:20px;
	display:inline-block;
	border-radius:20px;
}
.full{
	padding:0px;
}
.image-cropper {
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  padding:0px;
}

img {
  display: inline;
  margin: 0 auto;

  position:center;
}
.imgcrop {
	height: 100%;
	display: inline;
	margin: 0 auto;
	width: auto;
}
a:link{
	color: #31394d;
}
a:visited{
	color: #31394d;
}
a.nounderline {
	text-decoration: none; 
	color:white;
}
.para{
	width:900px;
	background-image:linear-gradient(#101319,#31394d);
	margin:10px;
	border-radius:7px;
	padding:0px;
	overflow-y:hidden;
	overflow-x:hidden;
}
.paraSlideCont{
	width:900px;
	height:90px;
	background-image:transparent;
	padding:0px;
	overflow-y:hidden;
	overflow-x:hidden;
	vertical-align:middle;
}
.paraslide{
	width:900px;
	height:90px;
	position:relative;
	background-image:transparent;
	margin:10px;
	border-radius:7px;
	padding:0px;
	overflow-y:visible;
	animation-duration:20s;
	animation-name:headScroll;
	animation-direction:alternate;
	animation-iteration-count: infinite;
	animation-timing-function:linear;
}
.headdiv{
	background-image:linear-gradient(#101319,#31394d);
	padding:0px;
	display:flex;
	justify-content:space-around;
	border-radius:0px;
	height:150px;
	position:sticky;
	top:0;
	margin-bottom:0px;
}
.tickdiv{
	background-color:#009384;
	padding:0px;
	display:flex;
	justify-content:space-around;
	border-radius:0px;
	height:50px;
	position:sticky;
	top:150px;
	margin-bottom:0px;
}
.paraparent{
	width:900px;
	background-color:transparent;
	margin:auto 0;
	padding:0px;
	overflow-x:hidden;
	border-radius:0px;
	
}
.regdiv{
	width:900px;
	margin:auto;
	padding:0px;
}
.aboutdiv{
	max-width:1200px;
	margin:auto;
	padding:0px;
}
.film{
	width:850px;
	background-image:linear-gradient(#101319,#31394d);
	margin:10px;
	border-radius:20px;
	padding:0px;

}
.flex-container{
	width:100%;
	display:flex;
	flex-wrap: wrap;
	background-color:transparent;
	justify-content:center;
	padding:0px;
}
.flex-text{
	width:100%;
	height:100%;
	display:flex;
	flex-wrap: wrap;
	background-color:transparent;
	justify-content:center;
	padding:0px;
}
.flex-menu{
	width:100%;
	display:flex;
	flex-wrap: wrap;
	background-color:transparent;
	justify-content:space-between;
	padding:0px;
	margin:0px;
}
.paratext{
	width:95%;
	max-width:900px;
	margin:auto;
	background-image:linear-gradient(#101319,#31394d);
	padding:20px;
}
.companyman{
	border-radius:10px;
	width:270px;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:10px;
	background-image:linear-gradient(#101319,#31394d);}
.spacer{
	width:40px;
	margin:0px;
	padding:0px;
}
.menubutton{
	display:inline-block;
	border-radius:0px !important;
	background-color:transparent;
	justify-content:center;
	padding-left:0px;
	padding-right:0px;
	margin-top:5px;
}
.homebutton{
	width:220px;
	margin-bottom:20px;
	display:inline-block;
	background-color:transparent;
	border-radius:10px;
}

.tech-slideshow {
  width:900px;
  height: 286px;
  margin: 0 auto;
  margin-top:5px;
  position: relative;
  border-radius:20px !important;
  overflow: hidden;
  padding:0px;
  font-size:0; /* THIS IS A HACK TO REMOVE THE "WHITESPACE" BETWEEN IMAGES.
                  YOU COULD ALSO PUT ALL OF THE IMAGES ON THE SAME LINE
                  (eg: <img src=""><img src=""><img src=""> 
                  with no spaces or line-breaks),
                  BUT THAT MAKES THE CODE LESS READABLE SO I'M DOING THIS
                  FOR THE SAKE OF CREATING THIS EXAMPLE FOR YOU */
}

.mover-1 {
  height: 286px;
  width: max-content;
  position: absolute;
  overflow-x:hidden;
  top: 0;
  left: 0;
  animation: moveSlideshow 20s linear infinite;
}

.mover-1 img {
  display:inline-block;
  vertical-align:middle;
  width:200px;
  margin:0;
}

@keyframes moveSlideshow {
  100% { 
    transform: translateX(-2400px);  
  }
}

@keyframes headScroll {
	0%{top:0px;}
	100%{top:-700px;}
}
.ticker-tape {
  display: flex;
  width: 100%;
  overflow: hidden;
  height: 50px;
  padding-left: 50px;
}

.ticker-tape .ticker {
  height: 50px;
  line-height: var(--height);
  white-space: nowrap;
  padding-right: 100%;
  
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: ticker;
  -webkit-animation-duration: var(--speed);
  
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: var(--speed);
  
}

.ticker-tape .ticker__item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 30px;
  font-weight:bold;
  color: white;
  font-style:italic;
  margin-top:15px;
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

:root {
  --height: 20px;
  --speed: 120s;
}
