body {
  background-color: #31394d;
  font-family: Courier New;
  text-align: center;

}
h1{
	
  color: white;
  font-size: 60px;
  background-color:grey;
}
h2{
	color:white;
	font-style:italic;
}
h3 {
	color: white;
}
h4{
	color:white;
}
h6{
	color:white;
}
h9{
	color:white;
	font-size:29px;
	font-weight:bold;
}
p {
  color: white;
}
div{
	width:220px;
	display:inline-block;
	background-color:grey;
	border-radius:10px;
}
a:link{
	color: white;
}
a:visited{
	color: #002f4a;
}
.para{
	width:760px;
	background-color:grey;
	margin:auto;
}
.film{
	width:550px;
	background-color:grey;
	margin:auto;
	border-radius:20px;
}
.grid-container{
	display:grid;
	grid-template-columns: 33% 33% 33%;
}
.paratext{
	width:700px;
	max-width:700px;
	margin:auto;
}
.companyman{
	border-radius:5px;
	width:270px;
	margin:0px;
}
.spacer{
	width:40px;
	margin:0px;
	padding:0px;
}
.menubutton{
	width:220px;
	margin-right:20px;
	margin-left:20px;
	display:inline-block;
	background-color:grey;
	border-radius:10px;
}