html{
	position:relative;
	min-height:100%;
}
body {
  font-family: Courier New;
  text-align: center;
  height: auto;
  background-color:#f2f2f2;
  margin: auto 0;
}
footer{
	padding-bottom:10px;
	height:20px;
	position:absolute;
    bottom:0;
	width:99%;
}
h1{
  margin:auto 0;
  color: white;
  font-size: 60px;
  vertical-align:middle;
}
h2{
	color:white;
	font-style:italic;
	padding-left:10px;
	padding-right:10px;
}
h3 {
	color: white;
	margin:0px;
}
h4{
	font-weight:bold;
	color:white;
	font-size:17px;
}
h6{
	color:#31394d;;
}
h5{
	color:white;
	font-size:29px;
	font-weight:bold;
	margin:10px;
}
p {
  color: white;
}
div{
	padding-left:20px;
	padding-right:20px;
	display:inline-block;
	border-radius:20px;
}
.full{
	padding:0px;
}
.image-cropper {
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  padding:0px;
}

img {
  display: inline;
  margin: 0 auto;

  position:center;
}
.imgcrop {
	height: 100%;
	display: inline;
	margin: 0 auto;
	width: auto;
}
a:link{
	color: #31394d;
}
a:visited{
	color: #31394d;
}
.para{
	width:800px;
	background-color:#31394d;
	margin:10px;
	border-radius:7px;
	padding:0px;
}
.headdiv{
	background-color:#31394d;
	padding:0px;
	display:flex;
	justify-content:space-around;
	border-radius:0px;
	height:100px;
	position:sticky;
	top:0;
	margin-bottom:0px;
}
.paraparent{
	width:800px;
	background-color:transparent;
	margin:auto 0;
	padding:0px;
	overflow-x:hidden;
	border-radius:0px;
	
}
.regdiv{
	width:800px;
	margin:auto;
	padding:0px;
}
.aboutdiv{
	max-width:1200px;
	margin:auto;
	padding:0px;
}
.film{
	width:550px;
	background-image:linear-gradient(#101319,#31394d);
	margin:10px;
	border-radius:20px;

}
.flex-container{
	width:100%;
	display:flex;
	flex-wrap: wrap;
	background-color:transparent;
	justify-content:center;
	padding:0px;
}
.flex-menu{
	width:100%;
	display:flex;
	flex-wrap: wrap;
	background-color:transparent;
	justify-content:space-between;
	padding:0px;
	margin:0px;
}
.paratext{
	width:90%;
	max-width:700px;
	margin:auto;
	background-color:#31394d;
	padding:0px;
}
.companyman{
	border-radius:10px;
	width:270px;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:10px;
	background-color:#31394d;
}
.spacer{
	width:40px;
	margin:0px;
	padding:0px;
}
.menubutton{
	display:inline-block;
	border-radius:0px !important;
	background-color:transparent;
	justify-content:center;
	padding-left:0px;
	padding-right:0px;
}
.homebutton{
	width:220px;
	margin-bottom:20px;
	display:inline-block;
	background-color:transparent;
	border-radius:10px;
}

.tech-slideshow {
  width:800px;
  height: 286px;
  margin: 0 auto;
  margin-top:5px;
  position: relative;
  border-radius:20px !important;
  overflow: hidden;
  padding:0px;
  font-size:0; /* THIS IS A HACK TO REMOVE THE "WHITESPACE" BETWEEN IMAGES.
                  YOU COULD ALSO PUT ALL OF THE IMAGES ON THE SAME LINE
                  (eg: <img src=""><img src=""><img src=""> 
                  with no spaces or line-breaks),
                  BUT THAT MAKES THE CODE LESS READABLE SO I'M DOING THIS
                  FOR THE SAKE OF CREATING THIS EXAMPLE FOR YOU */
}

.mover-1 {
  height: 286px;
  width: max-content;
  position: absolute;
  overflow-x:hidden;
  top: 0;
  left: 0;
  animation: moveSlideshow 20s linear infinite;
}

.mover-1 img {
  display:inline-block;
  vertical-align:middle;
  width:200px;
  margin:0;
}

@keyframes moveSlideshow {
  100% { 
    transform: translateX(-2400px);  
  }
}